/* Universal styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Body styling */
body {
    background-color: white; /* Set background to white */
    padding: 20px;
}

/* Navbar styling */
.navbar {
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 100;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 90px; /* Adjust logo size */
    height: auto;
    margin-right: 10px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin-left: auto; /* Aligns menu to the right */
}

.navbar-menu li {
    margin-right: 15px; /* Space between buttons */
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 14px; /* Consistent font size for smaller buttons */
    display: flex;
    align-items: center; /* Center the icons and text vertically */
    padding: 6px 10px; /* Consistent padding */
}

.nav-icon {
    width: 20px;  /* Smaller icons */
    height: 20px;
    margin-right: 6px; /* Adjust icon spacing */
    display: inline-block;
}

.logout-btn a {
    text-decoration: none;
    color: #d00000;
    font-size: 14px; /* Font size for logout button */
    font-weight: bold;
    padding: 6px 10px; /* Padding for button size */
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 15px; /* Spacing from other items */
    transition: color 0.3s; /* Smooth transition for color change */
}

.forms {
    color: white;
    background-color: #d00000;
    padding: 8px 16px;
    border-radius: 40px;
}

.active {
    font-weight: normal;
}

/* Sidebar styling */
.sidebar {
    width: 60px; /* Sidebar width */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /* Space between top and bottom icons */
    padding: 10px 0;
    position: fixed;
    top: 5%; /* Sidebar stays at the top */
    left: 0;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
    z-index: 50; /* Ensures it's below the navbar */
}

/* Sidebar icon container */
.sidebar-icon {
    margin: 20px 0;
    width: 30px;
    height: 30px;
}

.sidebar-icon img {
    width: 100%;
    height: auto;
}

/* Header section styling */
.header-section {
    position: relative;
    width: 80%; /* Adjust width */
    height: 200px; /* Adjust height */
    margin: 0 auto; /* Center horizontally */
    border-radius: 50px; /* Apply border-radius to the container */
    
}

/* Image styling */
.header-image {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit:fill; /* Ensure the image keeps its aspect ratio */
    border-radius: 50px; /* Apply border-radius to the image */
    margin-top: 50px;
}

/* Text overlay styling */
.text-overlay {
    position: absolute;
    top: 60%; /* Adjust this value to move the text overlay */
    left: 20px; /* Align to the left with some padding */
    text-align: left; /* Align text to the left */
    color: white; /* Adjust text color */
}

/* Header title styling */
.header-title {
    font-size: 30px; /* Adjust font size */
    margin-bottom: 2px; /* Increased margin-bottom for more space between title and subtitle */
    font-weight: bold; /* Make the title bold */
}

/* Header subtitle styling */
.header-subtitle {
    font-size: 16px; /* Adjust subtitle font size */
    font-weight: normal; /* Keep subtitle normal weight or adjust as desired */
    margin-top: 0; /* Ensure no extra top margin, adjust if needed */
    margin-bottom: 0; /* Ensure no bottom margin if not needed */
}

/* Tabs styling */
.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd; /* Light gray line for separation */
    width: 78%;
    margin: 0 auto;
    padding-bottom: 1px;
    margin-left: 150px;
}

.tab {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from its parent */
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    margin-right: 10px;
    transition: color 0.2s;
    margin-top: 60px;
}

.tab.active {
    border-bottom: none; /* Remove the blue underline */
    color: #0A840E; /* Keep the text color for active tab */
}

.tab:hover {
    color: #0A840E; /* Text color changes to blue on hover */
}

.container {
    max-width: 900px; /* Limit width */
    margin: 0 auto; /* Center the container */
    background-color: white; /* White background for the container */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
}

.container h1 {
    text-align: center; /* Center align title */
    font-weight: bold; /* Bold title */
    margin: 0; /* Remove default margin */
    margin-bottom: 50px;
    margin-top: 20px;
}

.container h2 {
    text-align: left; /* Center align subtitle */
    font-size: 15px;
    margin: 5px 0; /* Small margin for separation */
    font-weight:normal;
}

.report-table {
    display: table; /* Use table display */
    width: 100%; /* Full width */
    margin-top: 7px; /* Space above the table */
}

.row {
    display: table-row; /* Use table-row display */
}

.cell {
    display: table-cell; /* Use table-cell display */
    padding: 10px; /* Padding for cells */
    text-align: center; /* Center align text */
    border: 1px solid #ddd; /* Light border for cells */
}

.title {
    font-weight: bold; /* Bold title */
    background-color: white; /* Light gray background for header */
}

.score {
    font-weight: bold; /* Bold scores */
    color: #1BA2EE; /* Color for scores */
}

/* Modal styles */
.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    border: #082F96;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 150px;
    border: 2px solid #082F96;
}

.modal-content p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: -20px;
}

.modal-buttons button {
    width: 120px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.yes-btn {
    background-color: #082F96;
    color: white;
    font-weight: 700;
}

.no-btn {
    background-color: #F1F1F1;
    color: #082F96;
    border: 1px solid #082F96 !important;
    font-weight: 700;
}





