body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    padding-top: 100px;     /* Adjust based on the header height */
}

/* Make the header fixed */
header {
    position: fixed;       /* Fixes the header at the top */
    top: 0;                /* Aligns it to the top of the page */
    width: 100%;           /* Ensures the header spans the full width of the page */
    height: 40px;          /* Adjust the height to fit the content */
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;         /* Ensures the header stays above other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for better separation */
}

header img {
    max-width: 100%;
    max-height: 80px;      /* Adjust the max height for the logo */
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    display: flex;
    align-items: center;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
}

nav a img {
    height: 25px;
    margin-right: 5px;
}

nav a.active {
    color: white;
    background-color: #C10001;
    border-radius: 25px; 
    padding: 5px 20px;   
}
.container {
    padding: 20px 5%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
}
table, th, td {
    border-bottom: 1px solid #ccc;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
td a {
    text-decoration: none;
    color: #007bff;
}
td a:hover {
    text-decoration: underline;
}
.status {
    font-weight: bold;
}
.status.submitted {
    color: green;
}
.status.pending {
    color: red;
}

/* Modal styles */
.modal {
    display: flex;  /* Default to flex but hidden with a class */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);  /* Semi-transparent background */
    z-index: 1000;  /* Make sure the modal is above other elements */
    justify-content: center;
    align-items: center;
    border: #082F96;
}

.modal.hidden {
    display: none;  /* Hidden by default */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.modal-content p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal-buttons button {
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.yes-btn {
    background-color: #082F96;
    color: white;
}

.no-btn {
    background-color: #F1F1F1;
    color: black;
    border: 1px solid #ccc;
}
