body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
header {
    height: 30px;    
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
header img {
    max-width: 100%;
    max-height: 80px; 
}
nav {
    display: flex;
    align-items: center;
}
nav a {
    display: flex;
    align-items: center;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
}
nav a img {
    height: 25px;
    margin-right: 5px;
}
nav a.active {
    color: white;
    background-color: #C10001;
    border-radius: 25px; 
    padding: 5px 20px;   
}
.container {
    padding: 20px 2.5%;
}
.tabs {
    margin-bottom: 15px;
}
.tabs a {
    text-decoration: none;
    padding: 10px;
    margin-right: 5px;
    color: #000;
    cursor: pointer;
}
.tabs a.active {
    color: #007bff;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
td a {
    text-decoration: none;
    color: #007bff;
}
td a:hover {
    text-decoration: underline;
}
.status {
    color: green;
    font-weight: bold;
}
.button {
    padding: 5px 15px;
    background-color: #082F96;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 5px 20px;   
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.button:hover {
    background-color: #0056b3;
}
.disabled {
    color: grey;
    cursor: not-allowed;
    text-decoration: none;
}
.hidden {
    display: none;
}